* {
    /* outline: auto; */
    box-sizing: border-box;
}

body {
    background-color: #DEE2FF;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 15vh;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0; /* Stick to the top of the screen */
    margin: 0;
    justify-content: center;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #8E9AAF;
    height: 60px;
    z-index: 1;
}

.navbar .nb-btn { 
    /* display: flex;
    justify-content: center; */
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    color: white;
    width: 10%;
    align-items: center;
    padding: 0;
}

.navbar a {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-radius: 2px;
}

.navbar :hover {
    background-color:  #c7cae6;
    color: black;
}

#active {
    background-color: #DEE2FF;
    color: black;
    /* border: solid 3px #DEE2FF; */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center; 
    background-color: #8E9AAF;
    color: white; 
    height: 12vh;
}

h2 {
    font-size: 48px;
}

a {
        text-decoration: none;
}


/* home page */

.home-greet {
    /* position: relative; */
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    border-radius: 15px;
    border: solid 2px #c2a2b8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 6vh;
    background-color: #FEEAFA;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    /* justify-content: center; */
}

.home-card {
    position: static;
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #8E9AAF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #CBC0D3;
  }
  
  .card-img p {
    width: 100%;
    height: 152px;
    object-fit: cover;
    color: black;
    font-size: 14px;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow-y: auto;
  }
  
  .card-content {
    position: relative;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 20px;
    color: white;
    background-color: #8E9AAF;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card-content h3 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-content h4 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .home-card:hover {
    transform: translateY(-10px);
  }
  
  .home-card:hover .card-content {
    transform: translateY(-100%);
  }
  
  .text {
    position: relative;
    bottom: -50%;
    width: 100%;
    padding: 10px;
  }

/* subjects page */

.list {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.subject-body, .topic-body, .card-body {
    position: absolute;
    background-color: #cbc0d373;
    border-radius: 3px;
    width: 70%;
    height: 60%;
    left: 15%;
    right: 15%;
    vertical-align: center;
    overflow-y: auto;
}

.subjects-list {
    display: inline-block;
    width: 30%;
    height: 15%;
    margin: 1.5%;
    border-radius: 2px;
    border: solid 2px #c2a2b8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);    
    background-color: #FEEAFA;
    text-align: center;
    transition: transform 0.3s ease;
}

.subjects-list:hover {
    transform: translateY(-5px);
}

.subjects-list #sub {
    position: relative;
    color: black;
    font-size: 25px;
    margin: auto;
    top: 25%;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.subjects-list:hover #sub, .topic-body a:hover, .card-body h2 a:hover{
    color: lightcoral;
    text-decoration: underline;
}


/* topics page */
.topic-body {
  border-radius: 3px;
  border: solid 2px #c2a2b8;
}

.topic-body a {
  width: 15%;
  text-align: center;
  border-radius: 2px;
  margin-left: 1%;
  text-decoration: none;
  color: #323841;
}

.topic-body h3 {
  background-color: #c7cae6;
  font-size: 30px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.topic-container {
  display: flex;
  background-color: #DEE2FF;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  align-items: center;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}


.topic-container a {
  color: black;
}

.topic-container h4 {
  padding: auto;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 15%;
  min-width: 10%;
  font-size: 25px;
  height: 100%;
}

/* cards page */

.card-body {
  border-radius: 3px;
  border: solid 2px #c2a2b8;
}

.card-body h2{
  margin-top: 0;
  margin-bottom: 0;
  padding: 1%;
  background-color: #c7cae6;
  border-top: solid 1px #c2a2b8;
  border-bottom: solid 1px #c2a2b8;
}

.card-body h2 a{
  color:#323841;
  text-decoration: none;
  font-size: 30px;
}

.cards {
  display: flex;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #c7cae6;
  border-radius: 3px;
  border: solid 1px #8a8087;
}

.card {
  /* display:inline-block; */
  background-color: transparent;
  min-width: 270px;
  min-height: 370px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  /* white-space: nowrap; */
}


.card-inner {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.front, .back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.front {
  background: rgb(203,192,211);
  background: linear-gradient(288deg, rgba(203,192,211,1) 0%, rgba(203,192,211,1) 33%, rgba(239,211,215,1) 69%, rgba(239,211,215,1) 100%);
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.back {
  background: rgb(143,96,176);
  background: linear-gradient(288deg, rgba(143,96,176,1) 0%, rgba(135,97,162,1) 33%, rgba(203,142,151,1) 69%, rgba(222,175,182,1) 100%);
  color: white;
  transform: rotateY(180deg);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  overflow-y: auto;
}

/* cards-in-topic page */

.cards-in-topic {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: hidden;
  align-items: center;
  background-color: #c7cae6;
  border-radius: 3px;
  border: solid 1px #8a8087;
  padding: 2%;
}

.cards-in-topic .card {
  margin-bottom: 3%;
  margin-left: 20px;
  margin-right: 20px;
}

