<section class="navbar">
  <h3 class="logo" id="logo-navbar">StudyStack</h3>
  <a href="{% url 'home' %}" class="nb-btn" {% if request.path == '/' %}id="active"{% endif %}>Home</a>
  <a href="{% url 'subject-list' %}" class="nb-btn" {% if request.path == '/subjects/'%}id="active"{% endif %}>Subjects</a>
  <a href="{% url 'topic-list' %}" class="nb-btn" {% if request.path == '/topics/'%}id="active"{% endif %}>Topics</a>
  <a href="{% url 'cards-list' %}" class="nb-btn" {% if request.path == '/cards/'%}id="active"{% endif %}>Cards</a>
  <a href="{% url 'quiz-list' %}" class="nb-btn" {% if request.path == '/quiz/'%}id="active"{% endif %}>Quizzes</a>
  <a class="logout" href="{% url 'logout' %}">Logout</a>
</section>