{% extends "base.html" %}

{% block navbar %}
  {% include 'includes/menu.html' %}
{% endblock navbar %}

{% block content %}
  <p id="back"><a href="{% url "cards-list" %}">Go back</a></p>

  <h2 class="list">Cards for {{topic.topic}}</h2>

  <div class="cards-in-topic">
  {% for object in object_list %}
      <div class="card">
        <div class="card-inner">
          <div class="front">
            <h4>{{object.front}}</h4>
          </div>
          <div class="back">
            <p>{{object.back}}<p>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
  <div class="pagination-sub">
    {% include 'includes/pagination.html' %}
  </div>

{% endblock content %}
