{% extends "base.html" %}

{% block navbar %}
  <section class="navbar">
    <h3 class="logo" id="logo-navbar">StudyStack</h3>
    <a href="{% url 'home' %}" class="nb-btn">Home</a>
    <a href="{% url 'subject-list' %}" class="nb-btn">Subjects</a>
    <a href="{% url 'topic-list' %}" class="nb-btn">Topics</a>
    <a href="{% url 'cards-list' %}" class="nb-btn">Cards</a>
    <a href="{% url 'quiz-list' %}" class="nb-btn" id="active">Quizzes</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </section>
{% endblock navbar %}

{% block content %}
  <p id="back"><a href="{% url "quiz-list" %}">Go back</a></p>
  <h2 class="list">Pointers for {{quiz.name}}</h2>
  <button class="take-quiz"><a href={% url 'flash_quiz' quiz_id=quiz.id %} target='_blank'>Take Quiz</a></button>
  <div class="flashcard-container">
    {% for object in object_list %}
      <div class="flashcard">
        <p> {{object.front}} </p>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
