{% extends "base.html" %}
{% load static %}

{% block navbar %}
  {% include 'includes/menu.html' %}
{% endblock navbar %}

{% block content %}

  <h2 class="list">List of Cards</h2>

  <button type="button" class="btn btn-add" id="card">
    <a href={% url "card_add" %}><img src="{% static 'img/add.png' %}" alt='add icon'></a>
    Add card
  </button>

  <div class="card-body"> 
    {% for topic in grouped_cards %}
      <h2><a href={% url 'cards_in_topic' subject_id=topic.grouper.subject.id topic_id=topic.grouper.id %}>Topic: {{ topic.grouper }}</a></h2>
      
      <div class="cards">
      {% for card in topic.list %}
        <div class="card">
          <div class="card-inner">
            <div class="front">
              <h4>{{ card.front }}</h4>
            </div>
            <div class="back">
              <p>{{ card.back }}</p>
            </div> 
          </div>
        </div>
        <div class="card-icons">
          <a class="edit-item" id="card" href="{{card.id}}"><img id='edit' src='{% static "img/edit.png" %}' /></a>
          <a class="del-item" id="card" href="{{card.id}}/delete"><img id='del'src='{% static "img/del.png" %}' /></a>
        </div> 
        <div class="card-quizzes">
          <h5>Can be found at quiz:</h5>            
          {% for quiz in card.flash_quiz.all %}
          <a href="{% url 'flashcards' quiz.id %}">{{ quiz.name }}</a>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock content %}
