{% extends "base.html" %}

{% block navbar %}
  {% include 'includes/menu.html' %}
{% endblock navbar %}

{% block content %}
  <p id="back"><a href="{% url "quiz-list" %}">Go back</a></p>
  <h2 class="list">Pointers for {{quiz.name}}</h2>
  <button class="take-quiz"><a href={% url 'flash_quiz' quiz_id=quiz.id %} target='_blank'>Take Quiz</a></button>
  <div class="flashcard-container">
    {% for object in object_list %}
      <div class="flashcard">
        <p> {{object.front}} </p>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
