{% extends 'base.html' %}

{% block content %}
  <div class="flash-quiz">
    <h1 class="list">Quiz | {{ quiz.name }}</h1>
  
    <div class="flashcard-container">
      <form action="{% url 'submit_quiz' quiz.id %}" method="post">
        {% for question in questions %}
          <h4>{{ question.card.back }}</h4>
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
              <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
                {{ choice.card.front }}
              </label><br>
            {% endfor %}
            <br>

        {% endfor %}
        <button class="submit-quiz" type="submit">Submit</button>
      </form>
    </div>
  <div/>
  
{% endblock %}
