{% extends "base.html" %}

{% block navbar %}
  {% include 'includes/menu.html' %}
{% endblock navbar %}

{% block content %}
  {% comment %} <h1 class="home-greet">Current Flash Cards</h1> {% endcomment %}
  <br/>
  <section class="home-body">
    {% for object in object_list %}
      <div class="home-card"> 
        <div class="card-img">
          <div class="text">
            <p>{{object.back}}</p>
          </div>
        </div>
        <div class="card-content">
          <h3>{{object.front}}</h3>
          <h4>{{object.topic}}</h4>
        </div>
      </div>
    {% endfor %}
  </section>
  <br/>
  <br/>  
  <br/>
  {% include 'includes/pagination.html' %}
{% endblock content %}
