{% extends "base.html" %}

{% block navbar %}
  {% include 'includes/menu.html' %}
{% endblock navbar %}

{% block content %}
  <h1 class="home-greet">Welcome {{request.user}}!</h1>
  <br/>
  <section class="home-body">
    {% for object in object_list %}
      <div class="home-card"> <!--card-->
        <div class="card-img"> <!--card__image-->
          <div class="text">
            <p>{{object.back}}</p> <!--img-->
          </div>
        </div>
        <div class="card-content"> <!--card__content-->
          <h3>{{object.front}}</h3> <!--card__title-->
          <h4>{{object.topic}}</h4> <!--card__text-->
        </div>
      </div>
    {% endfor %}
  </section>
  <br/>
  <br/>  
  <br/>
  {% include 'includes/pagination.html' %}
{% endblock content %}
