{% extends "base.html" %}
{% load static %}


{% block navbar %}
{% endblock navbar %}

{% block content %}
  <p id="back"><a href="{% url "quiz-list" %}">Go back</a></p>
  <h2 class="list">List of Questions</h2>

  <button type="button" class="btn btn-add" id="quiz"><a href={% url 'question_add' %}>
    <img src="{% static 'img/add.png' %}" alt='add icon'></a>
    Add question
  </button>

  <div class="question-list-container">
    {% for quiz in grouped_questions %}
      <h2>Questions for <a href={% url 'flashcards' quiz_id=quiz.grouper.id %}>{{quiz.grouper.name}}</a></h2>
      <div class="question-item" id="questions">
        {% for question in quiz.list %}
        <div class="question-icon">
          <p id="question-item">
            <a class="edit-item" id="question" href="{{question.id}}"><img src='{% static "img/edit.png" %}' /></a>
            <a class="del-item" id="question" href="{{question.id}}/delete"><img src='{% static "img/del.png" %}' /></a>
            {{forloop.counter}}. {{question}}</p>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}