{% extends "base.html" %}

{% block navbar %}
  <section class="navbar">
    <a href="{% url 'home' %}" class="nb-btn">Home</a>
    <a href="{% url 'subject-list' %}" class="nb-btn">Subjects</a>
    <a href="{% url 'topic-list' %}" class="nb-btn">Topics</a>
    <a href="{% url 'cards-list' %}" class="nb-btn">Cards</a>
    <a href="{% url 'quiz-list' %}" class="nb-btn" id="active">Quizzes</a>
  </section>
{% endblock navbar %}

{% block content %}
  <h2 class="quiz-list">Quizzes</h2>
  <div class="quiz-list-container">
    {% for object in object_list %}
      <div class="quiz-list-item">
        <p><a href={% url "flashcards" object.id %}>  {{forloop.counter}}. {{object.name}}</a></p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
  