{% extends "base.html" %}
{% load static %}

{% block navbar %}
  {% include 'includes/menu.html' %}
{% endblock navbar %}

{% block content %}
  <h2 class="list">Subjects List</h2>
  <button type="button" class="btn btn-add" id="subject">
    <a href={% url "subject_add" %}><img src="{% static 'img/add.png' %}" alt='add icon'></a>
    Add Subject
   </button>
  
  <div class="subject-body">
    {% for object in object_list %}
      <div class="subjects-list">
        <a id="sub" href={% url 'topics_in_subject' object.id %}>{{object.subject}}</a>
        <div class="icons">
          <a class="edit-item" id="subject" href="{{object.id}}"><img id='edit' src='{% static "img/edit.png" %}' /></a> 
          <a class="del-item" id="subject" href="{{object.id}}/delete"><img id='del'src='{% static "img/del.png" %}' /></a>
        </div>
      </div>
    {% endfor %}  
  </div>

  <div class="pagination-sub">
    {% include 'includes/pagination.html' %}
  </div>

{% endblock content %}
