{% extends "base.html" %}
{% load static %}

{% block navbar %}
  <section class="navbar">
    <h3 class="logo" id="logo-navbar">StudyStack</h3>
    <a href="{% url 'home' %}" class="nb-btn">Home</a>
    <a href="{% url 'subject-list' %}" class="nb-btn">Subjects</a>
    <a href="{% url 'topic-list' %}" class="nb-btn" id="active">Topics</a>
    <a href="{% url 'cards-list' %}" class="nb-btn">Cards</a>
    <a href="{% url 'quiz-list' %}" class="nb-btn">Quizzes</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </section>
{% endblock navbar %}

{% block content %}
  <h2 class="list">List of Topics</h2>

  <button type="button" class="btn btn-add" id="topic">
    <a href={% url "subject_add" %}><img src="{% static 'img/add.png' %}" alt='add icon'></a>
    Add Topic
  </button>
  <div class="topic-body">
    {% for subject in grouped_topics %} 
        <h3><a href="{% url 'topics_in_subject' subject.grouper.id %}">Topics for {{ subject.grouper }}</a></h3>

        <div class="topic-container">

            {% for topic in subject.list %}
                <h4><a href="{% url 'cards_in_topic' subject_id=topic.subject.id topic_id=topic.id %}">{{ topic }}</a></h4>
                <div class="topic-icons">
                  <a class="edit-item" id="topic" href="{{topic.id}}"><img id='edit' src='{% static "img/edit.png" %}' /></a> 
                  <a class="del-item" id="topic" href="{{topic.id}}/delete"><img id='del'src='{% static "img/del.png" %}' /></a>
                </div>
            {% endfor %} 
        </div>
    {% endfor %}  

  </div>

{% endblock content %}

